# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Wooglin Stuff
models/*.tar.gz

.idea/
resources/
testingWit.py
testingWooglin.py
scripts/attendanceTracking/excuses.txt
scripts/attendanceTracking/ListFile.txt
scripts/attendanceTracking/Attendances/
scripts/witData.txt
the_dump/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

wooglin-body-develop.zip

the_dump/SlackToken.txt

the_dump/devCreds.txt
the_dump/devCreds.txt

the_dump/prodCreds.txt

deploy_wooglin_dev.sh

deploy_wooglin.sh

scripts/soberbros.csv


wooglin-body-develop.zip

shitheap/SlackToken.txt

shitheap/devCreds.txt

shitheap/prodCreds.txt

deploy_wooglin_dev.sh

deploy_wooglin.sh

scripts/soberbros.csv

*.zip

.deploy_wooglin.sh.swp

scripts/temp_script.py

scripts/.trainWit.py.swp
